<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telerik.examples"
    android:versionCode="12"
    android:versionName="2016.1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".common.ExamplesApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:logo="@drawable/telerik_logo"
        android:theme="@style/ApplicationTheme">
        <service android:name="com.google.android.gms.tagmanager.InstallReferrerService"/>
        <receiver
            android:name="com.google.android.gms.tagmanager.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.telerik.examples.LoadingActivity"
            android:noHistory="true"
            android:theme="@style/BrandedActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telerik.examples.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/BrandedActionBarTheme">

        </activity>
        <activity
            android:name="com.telerik.examples.ExampleGroupActivity"
            android:theme="@style/ExampleGroupDarkTheme" />
        <activity
            android:name="com.telerik.examples.ExampleInfoActivity"
            android:theme="@style/BrandedActionBarTheme" />
        <activity
            android:windowSoftInputMode="stateUnspecified|adjustNothing"
            android:name="com.telerik.examples.ExampleActivity"/>
        <activity
            android:name="com.telerik.examples.ViewCodeActivity"
            android:label="@string/title_activity_view_code"
            android:theme="@style/BrandedActionBarTheme"/>
        <activity
            android:name="com.telerik.examples.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/BrandedActionBarTheme"/>
    </application>

</manifest>
